
.shisa_progress {
  position: relative;
  width: 100%;
  height: 20px;
  cursor: pointer;
}
.shisa_progress_play {
  position: absolute;
  left: 0;
  top: 8px;
  height: 4px;
  border-radius: 5px;
  background: #00A0FF;
  border: none;
  transition: all .05s ease-in;
}
.shisa_progress_buffer {
  position: absolute;
  left: 0;
  top: 8px;
  height: 4px;
  border-radius: 5px;
  background: #ddeeff;
  border: none;
  transition: all .05s ease-in;
}
.shisa_progress input[type=range] {
  color: #00adfb;
  width: 100%;
  appearance: none;
  margin: 7.5px 0;
  position: absolute;
  top: -7px;
  height: 20px;
  cursor: pointer;
  background-color: rgba(0,0,0,0);
}
.shisa_progress input[type=range]:focus {
  outline: none;
}
.shisa_progress input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #0075a9;
  border-radius: 0px;
  border: 0px solid #010101;
}
.shisa_progress input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid currentColor;
  height: 15px;
  width: 15px;
  border-radius: 16px;
  background: currentColor;
  cursor: pointer;
  appearance: none;
  margin-top: -7.5px;
}
.shisa_progress input[type=range]:focus::-webkit-slider-runnable-track {
background: #00adfb;
}
.shisa_progress input[type=range]::-moz-range-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #0075a9;
  border-radius: 0px;
  border: 0px solid #010101;
}
.shisa_progress input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid currentColor;
  height: 15px;
  width: 15px;
  border-radius: 16px;
  background: currentColor;
  cursor: pointer;
}
.shisa_progress input[type=range]::-ms-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.shisa_progress input[type=range]::-ms-fill-lower {
  background: #003d57;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
.shisa_progress input[type=range]::-ms-fill-upper {
  background: #0075a9;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
.shisa_progress input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid currentColor;
  height: 15px;
  width: 15px;
  border-radius: 16px;
  background: currentColor;
  cursor: pointer;
  height: 0px;
  display: block;
}
